.box2{
    background-color: rgb(99, 195, 21);
    width: 33vw;
    height: 100vh;
    font-family: cursive;
    font-size: 3vw;
    text-align: center;
}
.box22{

    padding-top: 20vw;
    width:33vw;
    height:50vw;
}